@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-family: 'Josefin Sans', sans-serif;
}

header {
	margin: 0;
}

header nav {
	background: #555;
	height: 3em;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	list-style: none;
	line-height: 3em;
	float: left;
}

header nav ul li a {
	text-decoration: none;
	display: block;
	height: 100%;
	padding: 0 1em;
	color: #888;
}

nav a:hover {
	color: #fff;
	background-color: #777;
}

header nav ul li:first-child a {
	font-size: 1.4em;
	color: #80aebd;
}

header nav ul li:first-child a:hover {
	color: lightblue;
}

main {
	padding: 0 1em;
}

main section form div {
	margin: 0 0 10px 0;
}

main section form div label {
	display: block;	
}

main section form div input {
	width: 20em;
}

main section form div button {
	border: none;
	padding: 10px 15px;
	background-color: #80aebd;
	color: #fff;	
}

main section form div button:hover {
	background-color: lightblue;
	cursor: pointer;
}

main section table {
	border-collapse: collapse;
}

main section table, main section table th, main section table td {
	border: 1px solid #eee;
	padding: 10px 15px; 
	
}

main section table tbody tr td a {
	text-decoration: none;
	color: #80aebd;
}

main section table tbody tr td a:hover {
	text-decoration: underline;
	color: lightblue;
}
	
main section table tbody tr td form button {
	border: none;
	padding: 10px 15px;
	background-color: #bd8088;
	color: #fff;
}

main section table tbody tr td form button:hover {
	background-color: #e6adb7;
	cursor: pointer;		
}
.busca-container {
	display: flex;
	justify-content: center;
	margin: 20px 0 30px 0;
}

/* Agrupa input + limpar */
.busca-wrapper {
	display: flex;
	align-items: center;
	gap: 12px;
}

/* Input */
#busca {
	width: 450px;
	max-width: 90%;
	padding: 12px 16px;
	font-size: 16px;
	border-radius: 8px;
	border: 1px solid #ccc;
	outline: none;
}

/* Link limpar */
#limpar-busca {
	font-size: 14px;
	color: #6a3df0;
	text-decoration: none;
	cursor: pointer;
}

#limpar-busca:hover {
	text-decoration: underline;
}
.ver-mais {
	margin-left: 6px;
	font-size: 13px;
	color: #6a3df0;
	cursor: pointer;
	text-decoration: none;
}

.ver-mais:hover {
	text-decoration: underline;
}

.obs-completa {
	display: block;
	margin-top: 6px;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
}

