<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width"/>
<title>Entrada e saida de pessoas</title>
<link rel="stylesheet" th:href="@{/css/estilo.css}" />

</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a th:href="@{/}"> Entrada e saída </a></li>

				<li><a th:href="@{/pessoas}"> Listar </a></li>

				<li><a th:href="@{/pessoas/novo}"> Novo </a></li>

			</ul>
		</nav>
		
	</header>

	<main>
		<section>
			<h1>Seja bem vindo(a)!</h1>
		</section>
	</main>
</body>

</html>
