<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Cadastrar Saída</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}">Entrada e saída</a></li>
                <li><a th:href="@{/pessoas}">Listar</a></li>
                <li><a th:href="@{/pessoas/novo}">Novo</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Adicionar Saída</h1>
        </section>
        <section>
            <form th:action="@{/pessoas/{id}/salvarSaida(id=${pessoa.id})}" method="post" th:object="${pessoa}">
                <div>
                    <label for="id">Código:</label>
                    <input th:field="*{id}" readonly="readonly"/>
                </div>
                <div>
                    <label for="horaSaida">Hora Saída:</label>
                    <input th:field="*{horaSaida}" type="datetime-local" id="horaSaida" readonly="readonly"/>
                </div>
                <div>
                    <button type="submit">Salvar</button>
                </div>
            </form>
        </section>
    </main>
    <script>
        // Definir a hora atual no campo de data e hora quando a página é carregada
        window.addEventListener('load', function() {
            const now = new Date();
            const year = now.getFullYear();
            const month = String(now.getMonth() + 1).padStart(2, '0');
            const day = String(now.getDate()).padStart(2, '0');
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const seconds = String(now.getSeconds()).padStart(2, '0');
            const formattedDateTime = `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;
            document.getElementById('horaSaida').value = formattedDateTime;
        });
    </script>
</body>
</html>
