<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width"/>
  <title>Histórico</title>
  <link rel="stylesheet" th:href="@{/css/estilo.css}"/>
</head>

<body>

<header>
  <nav>
    <ul>
      <li><a th:href="@{/}">Entrada e Saída</a></li>
      <li><a th:href="@{/pessoas}">Listar</a></li>
      <li><a th:href="@{/pessoas/novo}">Novo</a></li>
      <li sec:authorize="hasAnyRole('SISTEMA', 'GERAL')">
        <a th:href="@{/usuarios}"> Cadastro de Usuários </a>
      </li>

      <li sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post" style="display:inline">
          <button type="submit" style="background:none; border:none; color:white; cursor:pointer;">Sair</button>
        </form>
      </li>
    </ul>
  </nav>
</header>

<main>

  <section>
    <h2 th:with="
    doc=${!#strings.isEmpty(pessoa.cpf) and !#strings.isEmpty(pessoa.identidade)
            ? 'CPF: ' + pessoa.cpf + ' | RG: ' + pessoa.identidade
            : (!#strings.isEmpty(pessoa.cpf)
                ? 'CPF: ' + pessoa.cpf
                : (!#strings.isEmpty(pessoa.identidade)
                    ? 'RG: ' + pessoa.identidade
                    : 'documento não informado'))}"
        th:text="'Histórico de ' + ${pessoa.nome} + ' (' + ${doc} + ')'">
    </h2>


  </section>

  <section>
    <table>
      <thead>
      <tr>
        <th>Entrada</th>
        <th>Saída</th>
        <th>Unidade</th>
        <th>Setor</th>
        <th>Andar</th>
        <th>Paciente</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="r : ${registros}">
        <td th:text="${#temporals.format(r.horaEntrada, 'dd/MM/yyyy HH:mm')}"></td>

        <td th:text="${r.horaSaida == null
                ? 'Em aberto'
                : #temporals.format(r.horaSaida, 'dd/MM/yyyy HH:mm')}">
        </td>

        <td th:text="${r.unidade}"></td>
        <td th:text="${r.setor}"></td>
        <td th:text="${r.andar}"></td>
        <td th:text="${r.paciente}"></td>
      </tr>
      </tbody>
    </table>

    <div style="margin-top: 20px;">
      <a th:href="@{/pessoas}">⬅ Voltar</a>
    </div>
  </section>

</main>

</body>
</html>
